<p>
  booksearch works!
</p>
<div>
  <div class="row">
    <div class="col-md-12">
        <input type="text"  placeholder="search for a book.." (keyup)="updateSearchQuery($event)" >
    </div>
  </div>
</div>

<div *ngIf="booksData">
  <p>{{booksData}}</p>

</div>


<button  (click)="searchForBooks()" class="btn btn-default">Search</button>

<div *ngIf="bookResults">
  <h2>Book Results:</h2>
  <ul>
      <li *ngFor="let book of bookResults; let i = index;">
        {{i}} 
        <h3>Title: {{book.bookData.volumeInfo.title}}</h3>
        <h3>Author(s):</h3>
        <br/>
          <div *ngFor="let author of book.bookData.volumeInfo.authors; let j = index;">
           <li>{{book.bookData.volumeInfo.authors[j]}}</li>>
          </div>
        <h3>ID: {{book.bookData.id}}</h3>
        <img [src]="book.bookData.volumeInfo?.imageLinks?.smallThumbnail" alt="no image"/>
        <a (click)="saveToBookshelf($event, book)" class="button is-primary">Save to bookshelf</a>
        <div>
            <h3>TransactionStatus : </h3>
            <p>{{book.transactionStatus}}</p>
          
          </div>
        
      </li>
    </ul>

</div>
