<div *ngIf="myMemberInfo?.hasVoted">
  <p>You have already voted.  You cannot vote again in this survey!</p>
</div>
<div *ngIf="booksToShow">
  <h2>These are the books you can vote for:</h2>
  <ul>
      <li *ngFor="let book of booksToShow; let i = index;">
        <h3>Title: {{book.bookData.volumeInfo.title}}</h3>
        <h3>Author: {{book.bookData.volumeInfo.authors[0]}}</h3>
        <h3>ID: {{book.bookData.id}}</h3>
        <img [src]="book.bookData.volumeInfo.imageLinks.smallThumbnail"/>
        <br/>
        <a [attr.href]="book.bookData.saleInfo.buyLink" >Buy this book here</a>
        <h3>Nominating User: {{book.nominatingUser}}</h3>
        <a (click)="selectFirstChoice($event, book)" class="button first-choice is-success">First Choice</a>
        <a (click)="selectSecondChoice($event, book)" class="button second-choice is-link">Second Choice</a>
        <a (click)="selectThirdChoice($event, book)" class="button third-choice is-info">Third Choice</a>
        <a *ngIf="book.myMemberInfo == book.nominatingUser" (click)="removeBookFromSurvey($event, book)" class="button third-choice is-danger">Remove Book</a>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
      </li>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>

    </ul>
</div>
<div>
  <h1>Submit your vote!</h1>
  <h3>{{voteSubmitError}}</h3>
    <a (click)="submitVote($event)" class="button submitVote is-error">Submit Vote</a>

</div>