<!--The content below is only a placeholder and can be replaced.-->
<div style="padding-left: 20px">


  <h1>Welcome to the WGASA Book Club!</h1>
  <p>Information will be posted here regarding our current reading goals.</p>

  <h3> Our current book is: </h3>

  <img alt="The Power by [Alderman, Naomi]" src="https://images-na.ssl-images-amazon.com/images/I/51xz-ZZRLdL.jpg"  data-a-image-name="ebooksImageBlockFront" class="a-dynamic-image frontImage" id="ebooksImgBlkFront" width="229px" data-a-dynamic-image="{&quot;https://images-na.ssl-images-amazon.com/images/I/51xz-ZZRLdL.jpg&quot;:[331,500],&quot;https://images-na.ssl-images-amazon.com/images/I/51xz-ZZRLdL._SY346_.jpg&quot;:[229,346]}" data-a-manual-replacement="true">


  <h3>Our current reading assingment is:</h3>

  <p>We are curretly planning to finish this book by September 9th and discuss it at 12:15 PM EST</p>
</div>


<booksearch></booksearch>

