/* You can add global styles to this file, and also import other style files */

.no-hover{
    pointer-events: none !important;
    background-color: transparent !important;
    border-color: #23d160 !important;
    color: #23d160 !important;


}